.cart-widget {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
    margin-right: 20px;

}

.cart-widget img {
    width: 48px;
    height:48px;
}

.cart-widget span {
    font-size: 14px;
    font-weight: bold; 
    background-color: #408080; 
    color: white; 
    padding: 5px 10px; 
    margin-right: auto;
    border-radius: 120px; 
    display: inline-block; 
    min-width: 24px; 
    text-align: center; 

}